@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sc-background: #f3f4f6;
  --sc-foreground: #121212;
  --sc-primary: #f7a9c8;
}

.sc-dark {
  --sc-background: #121212;
  --sc-foreground: #f3f4f6;
  --sc-primary: #f7a9c8;
}

@media (prefers-color-scheme: dark) {
  :root:not(.sc-light) {
    --sc-background: #121212;
    --sc-foreground: #f3f4f6;
    --sc-primary: #f7a9c8;
  }
}

body {
  background-color: var(--sc-background);
  color: var(--sc-foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sc-font-montserrat), sans-serif;
  font-weight: 700;
}
